<p-toolbar class="top-0">
    <div class="p-toolbar-group-start gap-2">
        <div class="card flex justify-content-center">
            <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="totalRecords"></p-paginator>
        </div>
    </div>
    <div class="p-toolbar-group-end gap-2">
        <input pInputText id="name" type="text" class="w-full" placeholder="Buscar nombre, sku o etiqueta" [(ngModel)]="searchText">
        <p-button pTooltip="Buscar por nombre, sku o etiqueta" tooltipPosition="left" icon="pi pi-search" (click)="searchByFilter()"></p-button>
        <p-button pTooltip="Limpiar filtro" tooltipPosition="left" styleClass="p-button-danger" icon="pi pi-refresh" (click)="clearFilter()"></p-button>
        <p-button styleClass="p-button-success" pTooltip="Registrar producto" tooltipPosition="left" icon="pi pi-plus" (click)="goToCreateProducto()"></p-button>
    </div>
</p-toolbar>