<p-toolbar class="sticky top-0">
    <div class="p-toolbar-group-start gap-2">
        <h2 class="m-0">CATÁLOGO</h2>

        <div class="card flex justify-content-center mb-2">
            <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="totalRecords"></p-paginator>
        </div>
    </div>
    <div class="p-toolbar-group-end gap-2">
        <p-button icon="pi pi-search"></p-button>
        <p-button icon="pi pi-plus"></p-button>
    </div>
</p-toolbar>