<div class="flex flex-column justify-content-center align-items-center w-full mt-2">
    <main class="flex justify-content-center w-full mb-2">
        <ul *ngIf="products && products.length" class="list-none m-0 p-0 w-full justify-content-between gap-2">
            <li *ngFor="let product of products">
                <app-product-card [product]="product"></app-product-card>
            </li>
        </ul>

        <section class="flex flex-column align-items-center" *ngIf="!products || !products.length">
            <img class="no-data" src="../../../assets/no_data.svg" alt="">
            <h1>No se econtraron productos</h1>
        </section>

    </main>
</div>